<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam | {%block title%} {%endblock%}</title>
    {%block links%}
    {%endblock%}
    <link rel="stylesheet" href='{% static "accounts/css/navbar.css" %}'>
</head>
<body>
    <nav>
        <div>
            <a href="/"><img src="../../static/accounts/images/steam_logo.png" alt="steam_logo"></a>
        </div>
        <div class="button_primary">
            <a href='/user/{{user.id}}'>{{user}}</a>
        </div>
        <div class="button_primary">
            {% if user.is_authenticated %}
            <a href="/logout/">Logout</a>
            {% else %}
            <a href="/login/">Login</a>
            {% endif %}
        </div>
    </nav>
    {% block xyz %}
    {% endblock %}  
    {% block scripts%}
    {% endblock %}
</body>
</html>