{% extends 'accounts/base_generic.html' %}
{% block title %}
Login
{% endblock%} 
{%block links%}
    <link rel="stylesheet" href='/static/accounts/css/registerpage.css'>
{%endblock%}
{% block xyz %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            {% if messages%}
                {%for message in messages %}
                <div>
                    <p style="color: red;">{{message}}</p>
                </div>
                {% endfor%}
            {% endif %}
            <img src="../../static/accounts/images/steam_logo.png" alt="steam_logo">
            <div class="input_container">
                <label for="username">Enter your user name</label>
                <input type="text" id="username" name="username" required placeholder="User name">
            </div>
            <div class="input_container">
                <label for="password">Enter password</label>
                <input type="password" id="password" name="password" placeholder="password here">
            </div>
            <p>Don't have a account? <a href="/register/">Register</a></p>
            <input type="submit" value="Login" id="submit_button">
        </div>
    </form>
{% endblock %}