{% extends 'accounts/base_generic.html' %}
{% load static %}
{% block title%}
{{ user.first_name }} {{user.last_name}}
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href='/static/accounts/css/profile.css'>
{% endblock %}

{% block xyz %}
    <div class="profile-container">
        <div class="profile-grid">
            <div id="profile-pic" style="background-image: url('/media/{{user_info.profile_picture}}');"></div>
            <div id="user-info-container">
                <div id="user-name">{{user_info.username}}</div>
                <div id="user-f-name">{{user_info.first_name}}</div>
                <div id="user-l-name">{{user_info.last_name}}</div>
            </div>
        </div>
    </div>
    {% if group == 'Power User' %}
        
        <div class="game-info-list">
            <div id="game-upload">
                <a href="/game/"><button>Upload new game</button></a>
            </div>
            {% for game in games %}
                <div id="game-tile-{{game.id}}" class="game-tile">
                    <div class="game_thumbnail" style="background-image: url('/media/{{game.thumbnail}}');"></div>
                    <div class="brife-info">
                        <div class="game_title">{{game.title}}</div>
                        <div class="game_discrip">{{game.discription}}</div>
                        <div class="game_price">Rs {{game.price}}</div>
                    </div>
                    {% if flag %}
                        <div class="options">
                            <button onclick="">Update</button>
                            <button id="delete{{game.id}}" onclick="deleteGame({{game.id}})">Delete</button>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <h2>Bottom Modal</h2>

        <!-- Trigger/Open The Modal -->
        <button id="myBtn">Open Modal</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
            </div>
            <div class="modal-footer">
            <h3>Modal Footer</h3>
            </div>
        </div>

        </div>
    {% endif %}
{% endblock %}  
{% block scripts%}
<script>
    function deleteGame(gameId){
        fetch(`/game/${gameId}/delete`,{
            method:'DELETE',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}',
            }
        }).then((response) => {
            if(response.ok){
                return response.text();
            }
        }).then((data) => {
            console.log(data);
            if(data == 'success'){
                element = document.getElementById(`game-tile-${gameId}`);
                element.remove();
            }
        })
    }
</script>
{% endblock %}