{% extends 'accounts/base_generic.html' %}   
{% block title %}Registration
{% endblock%}   
{%block links%}
    <link rel="stylesheet" href='/static/accounts/css/registerpage.css'>
{%endblock%}
{% block xyz %}
    <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div>
            {% if messages%}
                {%for message in messages %}
                <div>
                    <p style="color: red;">{{message}}</p>
                </div>
                {% endfor%}
            {% endif %}
            <img src="../../static/accounts/images/steam_logo.png" alt="steam_logo">
            <div class="input_container">
                <label for="first_name">Enter your first name</label>
                <input type="text" id="first_name" name="first_name"  placeholder="First name">
            </div>
            <div class="input_container">
                <label for="last_name">Enter your last name</label>
                <input type="text" id="last_name" name="last_name"  required placeholder="Last name">
            </div>
            <div class="input_container">
                <label for="username">Enter your user name</label>
                <input type="text" id="username" name="username"  required placeholder="User name">
            </div>
            <div class="input_container">
                <label for="email">Enter your email address</label>
                <input type="email" id="email" name="email"  required placeholder="xyz@example.com">
            </div>
            <div class="input_container">
                <label for="password1">Set password</label>
                <input type="password" id="password1" name="password1" required  placeholder="your secrete password here">
            </div>
            <div class="input_container">
                <label for="password2">Confirm password</label>
                <input type="password" id="password2" name="password2" required  placeholder="Retype password here">
            </div>
            <div class="input_container">
                <label for="profile_picture">Profile Picture:</label>
                <input type="file" name="profile_picture">
            </div>
            <div class="input_container">
                <label for="role">Role:</label>
                <div style="display: flex;">
                    <input type="radio" id="standard" name="role" value="standard" required>
                    <label for="standard">Standard User</label> 
                </div>
                <div style="display: flex;">
                    <input type="radio" id="power" name="role" value="power" required>
                    <label for="power">Developer/Publisher</label><br>
                </div>
            </div>
            <p>Already have a account? <a href="/login/">Login</a></p>
            <input type="submit" value="Submit" id="submit_button">
        </div>
    </form>
{% endblock %}