* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.game_container{
    display: flex;
    padding: 20px 40px;
    width: 100vw;
    /* min-height: 100vh; */
    background-image: url('/static/accounts/images/steam_home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
}
.container{
    /* display: grid;
    grid-template: 1fr / 50% 50%; */
    max-width: 475px;
    display: flex;
    flex-direction: column;
    
}
.video_container video {
    width: 100%;
}

.game_info_container{
    background-color: #c6d4df;
    display: flex;
    flex-direction: column; 
    justify-content:flex-start;
    gap: 5px;
    opacity: 0.9;
    padding: 5px;
}
.game_thumbnail > img{
    width: 100%;
    max-width: 100%;
}
.game_title{
    padding: 3px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    border: solid rgb(2, 2, 87) 2px;
    border-radius: 30px;
}
.game_discrip{
    padding: 3px;
    background-color: rgb(64, 64, 247);
    color: white;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
}
.game_price{
    padding: 3px;
    background-color: rgb(23, 212, 55);
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.game_like{
    padding: 3px;
    background-color: rgb(23, 212, 55);
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.game_like > button{
    padding: 2px;
    min-width: 60px;
    cursor: pointer;
}
.game_publisher{
    padding: 3px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    border: solid rgb(2, 2, 87) 2px;
    border-radius: 30px;
}
#download > a{
    text-decoration: none;
}
#download >a > div{
    background-color: chartreuse;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    color: black;
    font-weight: 900;
    border-radius:  30px;
    border: solid 2px black;
}