*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.game_container{
    padding: 20px 40px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #c6d4df;
    font-size: 12px;
    justify-content: space-around;
    
}

.game_banner{
    margin: 10px;
    padding: 5px;
    background-color: white;
    border: 1px grey solid;
    width : 250px;
    height : 300px;
    display: grid;
    grid-template: 200px 50px 40px/240px;
}
.image_container{
    grid-area: 1/1/2/2;
}

.image_container > img{
    height: 100%;
}

.title{
    display: flex;
    grid-area: 2/1/3/2;
    background-color: green;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    
}
.price{
    display: flex;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    grid-area: 3/1/4/2;
    align-items: center;
    justify-content: center;
}