{% extends 'accounts/base_generic.html' %}
{% load static %}
{% block title%}{{ game.title }}
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href='/static/game/css/gameinfopage.css'>
{% endblock %}
{% block xyz %}
    <div class="game_container">
        <div class="container">
            <div class="video_container">
                {% if game.trailer_video %}
                    <video controls>
                        <source src="/media/{{ game.trailer_video}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% else %}
                    <p>No trailer available.</p>
                {% endif %}
            </div>
            <div class="game_info_container">
                <div class="game_thumbnail"><img src="/media/{{game.thumbnail}}"></div>
                <div class="game_title">{{game.title}}</div>
                <div class="game_discrip">{{game.discription}}</div>
                <div class="game_price">Rs {{game.price}}</div>
                <div class="game_like">
                    <!-- {% if user.is_authenticated %}
                        
                    <button onclick="markLiked({{request.user.id}})"><i class="fa-regular fa-thumbs-up"></i>  {{game.likes}}</button>, <button><i class="fa-regular fa-thumbs-down"></i>   {{game.dislikes}}</button></div>
                    {% else %}
                    <i class="fa-regular fa-thumbs-up"></i>  {{game.likes}}, <i class="fa-regular fa-thumbs-down"></i>   {{game.dislikes}}</div>
                    {% endif %} -->
                    {% if user.is_authenticated %}
                        <div id="game-like">{{game.likes}} Likes</div>
                        <div id="game-dislike">{{game.dislikes}} dislikes</div>
                        {% if interaction %}
                            {% if interaction == 'like' %}
                                <button id="like-button" onclick="likeGame({{ game.id }})" disabled>Liked</button>
                                <button id="dislike-button" onclick="dislikeGame({{ game.id }})">Dislike</button>
                            {% elif interaction == 'dislike' %}
                                <button id="like-button" onclick="likeGame({{ game.id }})">Like</button>
                                <button id="dislike-button" onclick="dislikeGame({{ game.id }})" disabled>Disliked</button>
                            {% endif %}
                        {% else %}
                            <button id="like-button" onclick="likeGame({{ game.id }})">Like</button>
                            <button id="dislike-button" onclick="dislikeGame({{ game.id }})">Dislike</button>
                        {% endif %}
                    {% else %}
                        <p>Please <a href="/login/">log in</a> to like or dislike this game.</p>
                    {% endif %}
                </div>
                <div class="game_publisher">Publisher :   {{publisher}}</div>
            </div>
            {% if user.is_authenticated %}
            <div id="download"> 
                <a href="/media/{{game.thumbnail}}" download=""><div>Download Now</div></a>
            </div>
            {% endif %}

        </div>
    </div>
    <div id="parent_comment" class="Comments">
        <div class="add-comment">
            <input idtype="text" id="content" placeholder="your comment here">
            <button onclick="post_comment({{game.id}})">Post</button>
        </div>

    </div>
{% endblock %}

{% block scripts%}
<script>
    function likeGame(gameId) {
        console.log(gameId)
        fetch(`/game/${gameId}/like/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('game-like').textContent = `${data.likes} Likes`;
            document.getElementById('game-dislike').textContent = `${data.dislikes} Dislikes`;
            document.getElementById('like-button').disabled = true;
            document.getElementById('dislike-button').disabled = false;
        });
    }

    function dislikeGame(gameId) {
        fetch(`/game/${gameId}/dislike/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            document.getElementById('game-like').textContent = `${data.likes} Likes`;
            document.getElementById('game-dislike').textContent = `${data.dislikes} Dislikes`;
            document.getElementById('like-button').disabled = false;
            document.getElementById('dislike-button').disabled = true;
        });
    }
    function post_comment(game_id,parent_id=null){
        const content = document.getElementById('content').value;
        const data ={
            'content':content,
            'game_id':game_id,
            'parent_id':parent_id,
        }
        // console.log(data);
        fetch('/comment/',{
            method:'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify(data)
        }).then((response) => {
            if(response.ok){
                return response.json()
            }
        }).then((data) => {
            console.log(data);
            // fields = data[0].fields
            // console.log(data[0]);
            let parent 
            if(data.parent_id == null){
                parent = document.getElementById('parent_comment')
            }else{
                parent =document.getElementById(data.parent_id)
            }
            let p = document.createElement('p')
            p.innerText = data.content;
            parent.appendChild(p);
        })
    }

    function update(comments){

    }
    update
</script>
{% endblock %}