{%extends 'accounts/base_generic.html'%}
{% block title%}UploadGame{%endblock%}
{%block links%}
    <link rel="stylesheet" href="/static/accounts/css/registerpage.css">
{%endblock%}
{%block xyz%}
<form action="" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div>
        {% if messages%}
            {%for message in messages %}
            <div>
                <p style="color: red;">{{message}}</p>
            </div>
            {% endfor%}
        {% endif %}
        <img src="../../static/accounts/images/steam_logo.png" alt="steam_logo">
        <div class="input_container">
            <label for="title_name">Enter your game title</label>
            <input type="text" id="title_name" name="title" required placeholder="Title">
        </div>
        <div class="input_container">
            <label for="discription">Enter discription for the game</label>
            <input type="text" id="discription" name="discription" required placeholder="Brife intro">
        </div>
        <div class="input_container">
            <label for="thumbnail">Provide thumbnail</label>
            <input type="file" id="thumbnail" name="thumbnail">
        </div>
        <div class="input_container">
            <label for="trailer_video">Upload trailer video here</label>
            <input type="file" id="trailer_video" name="trailer_video"  required >
        </div>
        <div class="input_container">
            <label for="price">Set price </label>
            <input type="number" id="price" name="price" required  placeholder="Set buy price">
        </div>
        <input type="submit" value="Submit" id="submit_button">
    </div>
</form>
{%endblock%}
