{% extends "accounts/base_generic.html" %}
{% block title %}
Home
{% endblock%} 
{%block links%}
    <link rel="stylesheet" href="../../static/game/css/homepage.css">
{%endblock%}
{%block xyz%}
    <div class="game_container">
        <!-- {{games}} -->
        {% for game in games%}
        <a href="/game/{{game.id}}" style="text-decoration: none;">
            <div class="game_banner" id="{{game.id}}">
                <div class="image_container"><img style="max-width: 100%;" src= "/media/{{game.thumbnail}}" alt=""></div>
                    <div class="title">
                        {{ game.title }}
                    </div>
                    <div class="price">
                        Rs {{ game.price }}
                    </div>
            </div>
        </a>
        {%endfor%}
    </div>
{%endblock%}
