{% extends "accounts/base_generic.html" %}

{% block xyz %}
  {{user}}
  {{users}}
  <h2>Permission Denied</h2>
  <p style="color: black;">Sorry, you don't have permission to access this page. <a style="color: black;" href="/">Go back Home</a></p>
{% endblock %}