*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100vw;
    padding: 5px 20px;
    height: 50px;
    border: 2px solid black;
    background-color: #171d25;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > div > a > img{
    display: inline-block   ;
    height: 34px;
    background: transparent;
}
.button_primary{
    display: flex;
    padding: 3px;
    height: 100%;
    min-width: 100px;
    background-color: rgba(103, 112, 123, .2);
    text-align: center;
    border: solid black 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}