*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.game-info-list{
    padding-top: 10px;
    background-color: #2936ac;
}
#game-upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: none;
}
.profile-container{
    display: flex;
    padding: 20px 40px;
    background: url('/static/accounts/images/steam_home.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
}
.profile-grid{
    padding: 10px;
    display: flex;
    width: 100%;
    min-width: 320px;
    min-height: 170px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    background: linear-gradient(-45deg, #52ace7, #e7e2e2);   
}
#profile-pic{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#profile-pic>img{
    background-repeat: no-repeat;
    background-size: cover;
}
#user-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#user-name{
    grid-area: 1/2/2/3;
    color: white;
    font-size: 30px;
    font-weight: 900;
    align-self: center;
}


.game-tile{
    margin: 20px;
    max-height: 25vh;
    padding: 1rem;
    background: rgba(39, 148, 245, 0.77);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 5px;
}
.game_thumbnail{
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.brife-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    overflow-y: auto;
}

.options{
    margin: 10px;
    padding: 5px    ;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.game_title{
    color: white;
    font-size: 18px;
    font-weight: 700;
}