*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

form{
    min-height: 100vh;
    min-width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/accounts/images/steam_home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
form > div{
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(0deg, rgb(42, 61, 165), rgb(0, 217, 255));    
}

.input_container{
  text-align: center;
  display: grid;
}

label{
    display: block;
    font-weight: bold;
}
input{
    display: block;
    padding: 5px;
    border-radius: 30px;
    border: solid black 2px;
    text-align: center;
}
p,a{
    color: white;
    font-weight: 500;
}
img{
    max-width: 80%;  
}

#submit_button{
    background-color: green;
    min-width: 90px;
}
#submit_button:hover{
    background-color: greenyellow;
}